<div class="container">
  <div class="row">
    <%=render 'book' %>
    <div class="col-8">
      <h1>Book detail</h1>
      <% if @book.user.profile_image.attached? %>
        <%= image_tag @book.user.get_profile_image(100,100) %>
      <% else %>
        <%= image_tag 'noImage',size:"100x100" %>
      <% end %>
      <p><%=@book.user.name %></p>
      <p><%= @book.title %></p>
      <p><%= @book.body %></p>

      <% if  @book.user == current_user %>
        <%= link_to "Destroy", book_path(@book), method: :delete %>
      <% end %>
    </div>

  </div>
</div>